DJANGO_SECRET_KEY=
DJANGO_DEBUG=
AZURE_APP_REGISTRATION_CLIENT_ID=
AZURE_APP_REGISTRATION_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_REDIRECT_URI=http://localhost:8000/auth/callback/
SQLITE_PATH=/data/db.sqlite3
LOG_LEVEL_GUNICORN=debug(Development)|info(Production)|warning(Security Logs)
LOG_LEVEL_DJANGO=DEBUG|INFO|WARNING
ACTIVE_DIRECTORY_USERNAME=
ACTIVE_DIRECTORY_PASSWORD=
ACTIVE_DIRECTORY_SERVER=
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-to-a-strong-password
